[submodule "pack/plugins/start/surround"]
	path = pack/plugins/start/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "pack/plugins/start/lightline"]
	path = pack/plugins/start/lightline
	url = https://github.com/itchyny/lightline.vim.git
[submodule "/home/marina/.vim/pack/plugins/start/autosess"]
	path = pack/plugins/start/autosess
	url = https://github.com/powerman/vim-plugin-autosess.git
[submodule "pack/plugins/start/sleuth"]
	path = pack/plugins/start/sleuth
	url = https://tpope.io/vim/sleuth.git
